.cover {
  margin: 92px auto;
  max-width: 1184px;
  height: 740px;
  background-image: url(../images/background_visits.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cover:hover {
  opacity: 0.8;
}

.cover__overlay-text {
  margin: 0 auto;
  max-width: 656px;
  border-radius: 4px;
  z-index: 1;
  text-align: center;
}

.cover__title {
  margin: 0 auto 32px;
  max-width: 656px;
  height: 66px;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
}

.cover__subtitle {
  margin: 0 auto 32px;
  max-width: 280px;
  height: 66px;
  display: flex;
  flex-direction: column;
}

.cover__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.cover__buyBtn {
  margin: 0 auto;
  padding: 13px 20px;
  max-width: 200px;
  height: 48px;
  border-radius: 7px;
  background-color: #0278fe;
  font-size: 17px;
  font-weight: 600;
  line-height: 22px;
  color: #fff;
  border: none;
}

.cover__buyBtn:hover {
  background-color: #0063d2;
  cursor: pointer;
}
