.photo-grid {
  margin: 92px auto 0;
  max-width: 1184px;
  height: 442px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 16px;
}

.photo-grid__item {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
