.intro {
  margin: 92px auto 0;
  max-width: 1017px;
  height: 516px;
}

.intro__title {
  margin: 0 0 40px;
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
}

.intro__description {
  margin: 0;
  max-width: 722px;
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
}

.intro__cite {
  max-width: 720px;
  margin: -26px 0 0 -54px;
  font-size: 24px;
  font-style: normal;
  line-height: 34px;
  text-align: right;
}

.intro__paragraph {
  max-width: 720px;
  margin: 0;
  font-size: 16px;
  line-height: 26px;
}
