.header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.nav {
  padding-top: 34px;
}

.nav__logo {
  width: 270px;
  height: 70px;
}

.header__title {
  margin: 90px auto 32px;
  max-width: 790px;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  text-align: center;
}

.header__description {
  margin: 0 auto 28px;
  max-width: 720px;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
}

.header__image {
  width: 980px;
  height: 615px;
  filter: grayscale(1);
}
