.header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.nav {
  padding-top: 34px;
}

.nav__logo {
  width: 270px;
  height: 70px;
}

.lead {
  margin: 0 auto;
  width: 984px;
  height: 398px;
  border: 5px dashed red;
}

.header__title {
  margin: 90px auto 25px;
  max-width: 790px;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  text-align: center;
}

.header__description {
  margin: 0 auto;
  max-width: 720px;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
}

.lead-image {
  margin: 64px auto 0;
  width: 977px;
  height: 615px;
  border: 3px dashed white;
  background-image: url(../images/kalegin-michail-179870-unsplash.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(1);
}
