.lead {
  margin: 0 auto;
  max-width: 984px;
  /* height: 398px; */
}

.lead__title {
  margin: 90px auto 25px;
  max-width: 790px;
  font-size: 96px;
  font-weight: 900;
  line-height: 100px;
  text-align: center;
}

.lead__description {
  margin: 0 auto;
  max-width: 720px;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
}

.lead-image {
  margin: 64px auto 0;
  max-width: 977px;
  height: 615px;
  background-image: url(../images/kalegin-michail-179870-unsplash.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(1);
}
