/* Pantallas con ancho entre 768px y 1184px */
@media screen and (max-width: 1184px) {
  .intro {
    margin: 55px auto 0;
    max-width: 720px;
    height: 607px;
  }

  .photo-grid {
    max-width: 720px;
    height: 1104px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .photo-grid__item {
    max-width: 352px;
    height: 264px;
  }

  .places,
  .places__frame {
    max-width: 720px;
    grid-template-columns: 340px 1fr;
    gap: 46px 28px;
    margin-bottom: 31px;
  }

  .places__title,
  .places__title_berea_title {
    max-width: 360px;
    font-size: 42px;
    line-height: 46px;
  }

  .places__artist {
    justify-content: flex-start;
  }

  .places__image {
    max-width: 340px;
    height: 340px;
  }

  .places__paragraph {
    font-size: 16px;
    line-height: 26px;
  }

  .places__buyBtn {
    font-size: 17px;
  }
}

/* Pantallas con ancho máximo de 768px */
@media screen and (max-width: 768px) {
  .lead {
    max-width: 720px;
    height: 400px;
  }

  .lead__title {
    max-width: 720px;
  }

  .lead-image {
    margin-top: 69px;
    max-width: 768px;
    height: 480px;
  }

  .intro {
    margin: 55px auto 0;
    max-width: 720px;
    height: 607px;
  }

  .intro__cite {
    position: absolute;
    top: 1568px;
    right: 24px;
  }

  .photo-grid {
    margin: 64px auto;
    max-width: 720px;
    height: 1104px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .photo-grid__item {
    max-width: 352px;
    height: 264px;
  }

  .places,
  .places__frame {
    max-width: 720px;
    grid-template-columns: 340px 1fr;
    gap: 46px 28px;
    margin-bottom: 31px;
  }

  .places__title,
  .places__title_berea_title {
    margin: 0 16px;
    max-width: 340px;
    font-size: 40px;
    line-height: 46px;
  }

  .places__artist {
    justify-content: flex-start;
  }

  .places__image {
    max-width: 340px;
    height: 340px;
  }

  .places__paragraph {
    font-size: 16px;
    line-height: 26px;
  }

  .places__buyBtn {
    font-size: 17px;
  }

  .cover {
    max-width: 768px;
  }
}

/* Pantallas con ancho entre 320px y 720px */
@media screen and (max-width: 720px) {
  .photo-grid {
    margin: 64px auto;
    max-width: 720px;
    height: 1104px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .photo-grid__item {
    margin: 0 auto;
    max-width: 352px;
    height: 254px;
  }

  .places__frame:last-of-type {
    margin-bottom: 64px;
  }
}

/* Pantallas con ancho máximo de 320px */
@media screen and (max-width: 320px) {
  .nav {
    padding-top: 0;
  }
  .nav__logo {
    max-width: 200px;
    height: 52px;
  }

  .lead {
    max-width: 288px;
    height: 188px;
  }

  .lead__title {
    margin: 50px auto 60px;
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
  }

  .lead__description {
    max-width: 288px;
    font-size: 16px;
    line-height: 20px;
  }

  .lead-image {
    margin-top: 40px;
    max-width: 320px;
    height: 200px;
  }

  .intro {
    margin: 44px auto 0;
    max-width: 288px;
    height: 958px;
  }

  .intro__title {
    font-size: 32px;
    line-height: 35px;
    margin: 0 auto 9px;
  }

  .intro__description {
    margin-top: 9px;
    margin-bottom: 0;
    line-height: 30px;
    max-width: 288px;
    height: 300px;
  }

  .intro__cite {
    max-width: 268px;
    position: absolute;
    top: 1040px;
    right: 16px;
  }

  .intro__paragraph {
    max-width: 288px;
  }

  .photo-grid {
    margin: 38px auto 0;
    max-width: 288px;
    height: 1812px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .photo-grid__item {
    max-width: 288px;
    height: 216px;
  }

  .places {
    margin: 62px auto 0;
    max-width: 320px;
    height: auto;
  }

  .places__frame {
    max-width: 320px;
    height: 1200px;
    grid-template-columns: 320px;
    grid-template-areas:
      "title"
      "artist"
      "image"
      "text"
      "buyBtnn";
    gap: 0 8px;
  }

  .places__frame_marginBttm_small,
  .places__frame_frameBurundi_big {
    max-width: 320px;
    height: 1200px;
    grid-template-columns: 320px;
    grid-template-areas:
      "title"
      "artist"
      "image"
      "text"
      "buyBtnn";
    gap: 0 8px;
  }

  .places__title,
  .places__title_berea_title {
    font-size: 32px;
    line-height: 35px;
    max-width: 320px;
  }

  .places__title_berea_title {
    height: 70px;
  }

  .places__title_natal_city {
    margin: 50px 16px;
  }

  .places__artist {
    margin: 0 16px 32px;
    height: 67px;
  }

  .places__image {
    margin: 0 auto;
    max-width: 320px;
    height: 320px;
  }

  .places__paragraph,
  .places__content,
  .places__content_wide_marging,
  .places__content_narrow_marging {
    font-size: 16px;
    line-height: 26px;
    margin: 0 16px;
  }

  .places__buyBtn {
    margin: 0 auto;
    max-width: 288px;
    font-size: 14px;
    line-height: 16px;
  }

  .cover {
    margin: 64px auto;
    max-width: 320px;
    height: 254px;
  }

  .cover__overlay-text {
    max-width: 288px;
    height: 163px;
  }

  .cover__title {
    max-width: 288px;
    height: 35px;
    font-size: 32px;
    font-weight: 900;
    line-height: 35px;
  }

  .cover__subtitle {
    height: 48px;
    font-size: 14px;
    line-height: 16px;
  }
}
