.page {
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  background-color: #2a2c2f;
}

* {
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header__logo {
  width: 270px;
  height: 70px;
}
