.places {
  margin: 92px auto 0;
  max-width: 987px;
  height: 4098px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.places__frame {
  max-width: 984px;
  height: 756px;
  display: grid;
  grid-template-columns: 460px 1fr;
  /* grid-template-rows: repeat(3, 1fr); */
  grid-template-areas:
    "title artist artist"
    "image text text"
    "buyBtnn text text";
  gap: 48px 40px;
  margin-bottom: 80px;
}

.places__frame_marginBttm_small {
  margin-bottom: 35px;
}

.places__frame_frameBerea_small {
  height: 725px;
}

.places__frame_frameBurundi_big {
  height: 859px;
  margin-bottom: 51px;
}

.places__frame:last-of-type {
  margin-bottom: 0;
}

.places__title {
  grid-area: title;
  margin: 0;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
}

.places__title_berea_title {
  max-width: 600px;
  max-height: 152px;
  font-size: 55px;
  font-weight: 900;
  line-height: 76px;
  gap: 17px 40px;
}

.places__artist {
  grid-area: artist;
  margin: 0;
  height: 152px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.places__artist-title {
  /* grid-area: artist; */
  padding: 0 0 8px;
  font-size: 12px;
  line-height: 14.5px;
  color: #aaa;
}

.places__artist-name {
  /* grid-area: artist; */
  font-size: 18px;
  line-height: 22px;
}

.places__image {
  grid-area: image;
  max-width: 460px;
  height: 460px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.places__paragraph {
  grid-area: text;
  margin: 0;
  font-size: 18px;
  line-height: 29px;
}

.places__content {
  margin: 0 0 25px;
}

.places__content_wide_marging {
  margin: 0 0 56px;
}

.places__content_narrow_marging {
  margin: 0 0 17px;
}

.places__content:last-of-type {
  margin-bottom: 0;
}

.places__buyBtn {
  grid-area: buyBtnn;
  padding: 13px 20px;
  max-width: 355px;
  height: 48px;
  border-radius: 4px;
  background-color: #0278fe;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  color: #fff;
}

.places__buyBtn:hover {
  background-color: #0063d2;
  cursor: pointer;
}
